@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#443;
    --black: #1B1722;
    --white : #F0F0F0;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:  capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: var(--black);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: 5rem;
}

.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.header{
    top: 0;right: 0;left: 0;
    background: url(images/a.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logoName{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--main-color);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--main-color);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position: absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--main-color);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}
#menu-bar{
    display: none;
}


.Home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: url(images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.Home .HomeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}
.Home .HomeContent h2{
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color:var(--main-color);
    text-shadow: var(--box-shadow);
}
.Home .HomeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.Home .HomeContent .Home-btn{
    height: 3rem;
}
.Home .HomeContent .Home-btn button{
    font-size: 1.8rem;
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
}
.Home .HomeContent .Home-btn button:hover{
    font-size: 2rem;
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}
section{
    padding: 2rem 7%;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.About .About-row .box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.About .About-row .box .images{
    flex: 1 1 42rem;
}
.About .About-row .box .images img{
    width: 100%;
    animation:aboutImages 4s linear infinite;
}

@keyframes aboutImages {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.About .About-row .box .content{
    flex: 1 1 42rem;
}
.About .About-row .box .content h3{
    color:var(--main-color);
    font-size: 2.5rem;
    line-height: 1.8;
}

.About .About-row .box .content p{
    color:var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

.About .About-row .box .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}
.About .About-row .box .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.5rem;
    text-align: center;
    border:var(--border);
    border-radius: var(--border-radius);
}
.About .About-row .box .content .icons-container .icons:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}
.About .About-row .box .content .icons-container .icons img{
    height: 5rem;
}

.About .About-row .box .content .icons-container .icons h3{
    font-size: 1.6rem;
    padding-top: 1.6rem;
    color:var(--main-color);
}

.Product{
    background: url(../images/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.Product .Product-row{
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}
.Product .Product-row .box{
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: rgb(240, 248, 254);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 3rem;
    margin-right: 3rem;
}
.Product .Product-row .img img{
    height: 100%;
    width: 90%;
}
.Product .Product-row .img img:hover{
    transform: scale(1.1);
}
.Product .Product-row .content {
    margin-bottom: 2rem;
}
.Product .Product-row .Product-content h3{
    font-size: 2rem;
    color: var(--black);
}
.Product .Product-row .Product-content p{
    font-size: 2rem;
    line-height: 1.6;
    color: var(--black);
}
.Product .Product-row .Product-content .orderNow{
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.Product .Product-row .Product-content .orderNow button{
    font-size: 1.8rem;
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
}
.Product .Product-row .Product-content .orderNow button:hover{
    font-size: 2rem;
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.newsletter{
    background: url(images/m\ .jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.newsletter form{
    max-width: 45rem;
    text-align: center;
    padding: 5rem 0;
}
.newsletter form h3{
    font-size: 3rem;
    color: rgb(240, 248, 254);
    padding-bottom: .7rem;
}
.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    color: var(--black);
    border-radius: .5rem;
}
.newsletter form .box2{
    width: 30%;
    font-size: 1.5rem;
    display: inline-block;
    padding:.5rem .5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: var(--white);
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
}
.newsletter form .box2:hover{
    font-size: 2rem;
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.Review .Review-slider{
    padding:7rem 0;
}

.Review .Review-slider .box{
    border:var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding:2rem;
}

.Review .Review-slider .box .fa-quote-left{
    position: absolute;
    top:2rem; left: 2.5rem;
    font-size: 6rem;
    color:#ccc;
    z-index: -1;
}

.Review .Review-slider .box .fa-quote-right{
    position: absolute;
    bottom:2rem; right: 2.5rem;
    font-size: 6rem;
    color:#ccc;
    z-index: -1;
}

.Review .Review-slider .box:hover .fa-quote-left{
    top:-6.5rem;
}

.Review .Review-slider .box:hover .fa-quote-right{
    bottom:-6.5rem;
}

.Review .Review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.Review .Review-slider .box .stars{
    padding:.5rem 0;
}

.Review .Review-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

.Review .Review-slider .box p{
    font-size: 1.6rem;
    color:var(--main-color);
    padding:1rem 0;
    line-height: 1.8;
}

.Review .Review-slider .box h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

.Review .Review-slider .box span{
    font-size: 1.5rem;
    color:var(--main-color);
}

.Contact{
    background:url(../images/aaaa.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.Contact form{
    margin:0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding:3rem;
    border:var(--border);
}

.Contact form .box{
    width:100%;
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background:none;
    text-transform: none;
    color:var(--main-color);
    border:var(--border);
    margin:.7rem 0;
}

.Contact form .box:focus{
    border:var(--border-hover);
}

.Contact form textarea{
    height:15rem;
    resize: none;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.footer .box-container  h1 {
    font-size: 2.5rem;
    color: var(--main-color);
}
.footer .box-container p{
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--main-color);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 2rem;
    color: var(--main-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--main-color);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--main-color);
    margin: 0 .3rem;
    border-radius: 50%;

}
.footer .share a:hover{
    background: var(--white);
    color: var(--main-color);
}
.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--main-color);
    text-align: center;
}    











.swiper-pagination-bullet{
    background-color: var(--black);
}






/* media queries for web responsive */

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}